/*

.topDiv {
    padding-top: 50px;
}

.counterButton {
    font-size: 16px;
    background-color: green;
    padding: 15px 30px;
    color: white;
    width: 100px;
}

.resetButton {
    font-size: 16px;
    background-color: red;
    padding: 15px 30px;
    color: white;
    width: 200px;    
}


.count {
    font-size: 140px;
    font-family: "Times New Roman", Times, serif;
    padding: 5px 30px;
}

.counter{
    display: flex;
    align-items: center;    
    justify-content: center;  
}
*/